<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.UsersMapper">
<!--用户登陆验证-->
    <select id="login" parameterType="Users" resultType="Users">
        SELECT  * from user where username = #{username} and password = #{password}
    </select>

    <!--查询所有用户信息-->
    <select id="findAll" resultType="Users">
        select * from user
    </select>

    <!--根据id查询用户信息-->
    <select id="findById" resultType="Users" parameterType="int">
        SELECT  * from user where id = #{id}
    </select>

    <!--修改用户信息-->
    <update id="updateUserMsg" parameterType="users" >
        update user set name=#{name} ,gender=#{gender},age=#{age},
        address=#{address},qq=#{qq},email=#{email} ,fileurl=#{fileurl}where id = #{id}
    </update>

    <!--删除用户信息-->
    <delete id="delete" parameterType="int">
        delete from user where id = #{id}
    </delete>
    <!--添加用户信息-->
    <update id="addUser" parameterType="users">
        insert into user(name,gender,age,address,qq,email) values(#{name},#{gender},#{age},#{address},#{qq},#{email})
    </update>
    <!--查询用户的总数-->
    <select id="totalCount" parameterType="pageBean" resultType="int">
        select count(*) from user
        <if test="user!=null">
            <where>
                <if test="user.name!=null and user.name!=''">
                    and name like concat("%",#{user.name},"%")
                </if>
                <if test="user.email!=null and user.email != ''">
                    and email like concat("%",#{user.email},"%")
                </if>
                <if test="user.address != null and user.address != ''">
                    and address like concat("%",#{user.address},"%")
                </if>
            </where>
        </if>
            <!--<where>
                <if test=" user != null">
            <if test="user.name!=null and user.name!=''">
                 and name  like  concat("%",#{user.name},"%")
            </if>
            <if test="user.email!=null and user.email != ''">
                 and email  like concat("%",#{user.email},"%")
            </if>
            <if test="user.address != null and user.address != ''">
                 and  address  like concat("%",#{user.address},"%")'
            </if>
                </if>
            </where>
-->
    </select>

    <!--分页查询-->
    <select id="findByPage" parameterType="PageBean" resultType="users">
        select * from user

            <if test="user!=null">
                <where>
                <if test="user.name!=null and user.name!=''">
                    and name like concat("%",#{user.name},"%")
                </if>
                <if test="user.email!=null and user.email != ''">
                    and email like concat("%",#{user.email},"%")
                </if>
                <if test="user.address != null and user.address != ''">
                    and address like concat("%",#{user.address},"%")
                </if>
                </where>
            </if>
              order by id DESC  limit #{start},#{pageRows}
    </select>
    <!--
    select * from user limit #{start},#{pageRows}
    -->
</mapper>
